argcomplete==3.0.3
async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.12.2
cachetools==5.3.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.9
click==8.1.3
colorama==0.4.6
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.10.0
Flask==2.2.4
google-api-core==2.11.0
google-api-python-client==2.48.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-images-download==2.8.0
Google-Images-Search==1.4.6
googleapis-common-protos==1.59.0
googlesearch-python==1.2.3
h11==0.14.0
httplib2==0.22.0
idna==3.3
importlib-metadata==5.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
oauthlib==3.1.1
outcome==1.2.0
packaging==23.0
Pillow==9.5.0
pipx==1.2.0
platformdirs==3.1.1
protobuf==4.22.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyfiglet==0.8.post1
pygame @ file:///C:/Users/beatriz/AppData/Local/Programs/Python/Python37/Scripts/pygame-2.1.2-cp37-cp37m-win_amd64.whl
PyOpenGL @ file:///C:/Users/beatriz/AppData/Local/Programs/Python/Python37/Scripts/PyOpenGL-3.1.6-cp37-cp37m-win_amd64.whl
pyparsing==3.0.9
PySocks==1.7.1
python-resize-image==1.1.20
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.9
selenium==4.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
termcolor==1.1.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.4.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.7
userpath==1.8.0
virtualenv==20.21.0
Werkzeug==2.2.3
windows-curses==2.3.1
wsproto==1.2.0
zipp==3.15.0
